.copy_text{
       border-top: 0.5px solid #A5A5AA;
    h6{
        font-weight: normal!important;
        font-size: 13px!important;
        line-height: 18px!important;
        color: #252323!important;
        padding: 13px 22px 13px 17px!important;
        font-family : 'Avenir'!important;
      }
}